#include <zephyr/dt-bindings/pinctrl/rpi-pico-rp2040-pinctrl.h>

/* Console via USB CDC ACM */
/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
		zephyr,display = &ssd1306;
	};

	/* ADC node for analog input on GPIO26 (ADC0) */
	adc_io: adc_io {
		compatible = "gpio-keys";
		label = "ADC_IO";
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};

/* Enable PWM with pinctrl for GPIO16 (external) and GPIO25 (built-in LED) */
&pwm {
	pinctrl-0 = <&pwm0a_default>, <&pwm_ch4b_default>;
	pinctrl-names = "default";
	status = "okay";
};

/* Enable ADC for reading analog values on GPIO26 (ADC0) */
&adc {
	status = "okay";
	#io-channel-cells = <1>;
	pinctrl-0 = <&adc_default>;
	pinctrl-names = "default";
};

/* Enable I2C0 for SSD1306 display */
&i2c0 {
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_STANDARD>;

	ssd1306: ssd1306@3c {
		compatible = "solomon,ssd1306";
		reg = <0x3c>;
		width = <128>;
		height = <64>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		segment-remap;
		com-invdir;
		prechargep = <0x22>;
	};
};

/* Add pinctrl configuration */
&pinctrl {
	/* PWM0 Channel A on GPIO16 (external PWM output) */
	pwm0a_default: pwm0a_default {
		group1 {
			pinmux = <PWM_0A_P16>;
		};
	};

	/* ADC on GPIO26 (ADC channel 0) */
	adc_default: adc_default {
		pins = "gpio26";
		function = "adc0";
	};

	/* I2C0 on GPIO4/GPIO5 for SSD1306 display */
	i2c0_default: i2c0_default {
		group1 {
			pinmux = <I2C0_SDA_P4>, <I2C0_SCL_P5>;
		};
	};
};
