#include <zephyr/dt-bindings/pinctrl/rpi-pico-rp2040-pinctrl.h>

/* Console via USB CDC ACM */
/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};

/* Enable PWM with pinctrl for GPIO16 (external) and GPIO25 (built-in LED) */
&pwm {
	pinctrl-0 = <&pwm0a_default>, <&pwm_ch4b_default>;
	pinctrl-names = "default";
	status = "okay";
};

/* Add pinctrl configuration */
&pinctrl {
	/* PWM0 Channel A on GPIO16 (external PWM output) */
	pwm0a_default: pwm0a_default {
		group1 {
			pinmux = <PWM_0A_P16>;
		};
	};
};
